:root {
    --dropdown: #0050A6;
    --panel: #4688FB;
    --button-active: #146C43;
    --button-unactive: #0B3D2E;
    --positive: #0F9900;
    --negative: #990000;
    --pieChartbg: #B9B9B91A;
    --panel-text: #FFFFFF;
}

.dual-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#budget {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left:5%;
}
#checkbook{
    display: flex;
    flex-flow:column wrap;
    height: 100%;
    width: 100%;
}
#checkbook:first-child{
    margin: 5% 0
    ;
}

.info {
    height: 100%;
    width: 100%;

}


.panel button{
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;

}

.tab-btn {
    display: flex;
    flex-direction: row;
    background-color: var(--button-unactive);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 47px;
    align-items: center;
    margin: 0 1%;
}

.tab-btn.active {
    background-color: var(--button-active);
}

.tab-btn:hover:not(.active) {
    background-color: #148748;
}

.button-cont {
    display: flex;
    justify-content: flex-start;
}

.logo {
    height: 15vh;
    border-radius: 10px;
    margin-left: 5%;
}


#career {
    width: 23vw;
    height: 6vh;
    border: none;
    color: white;
    background-color: var(--dropdown);
    font-size: 30px;
    text-align: center;
}
#career:active{
    border:none;
}
/* Net/Gross Income */

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0%;
    height: 10vh;
    width: 98vw;
    
}

.income {
    display: flex;
    width: 50%;
    justify-content: space-around;
    justify-self: flex-end;
}

.net, .gross, .current {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}

.net h3, .gross h3, .current h3 {
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    width: 98vw;
}

.auto-fill {
    height: 65vh;
    width: 35%;
    border-radius: 1.25rem;
    background-color: var(--pieChartbg);
    margin-top:33.818px;
    box-shadow: -1.25rem 1.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.budget-card {
    background-color: var(--panel);
    border-radius: 0.563rem;
    width: 40vw;
    height:71vh;
}


.input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.budget-name {
    color: var(--panel-text)
}

#pie- {
    width: 18vw;
    height: 2vh;
}
.tax-cont{
    display:flex;
    justify-content:space-between;
    width: 40%;
}