:root {
    --dropdown: #0050A6;
    --panel: #4688FB;
    --button-active: #146C43;
    --button-unactive: #0B3D2E;
    --positive: #0F9900;
    --negative: #990000;
}

.dual-cards {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.panel {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--panel);
    height: 65vh;
}

.info {
    height: 100%;
    width: 100%;

}


.panel button{
    height: 25px;
    width: 25px;
    border: none;
    background-color: transparent;

}

.tab-btn {
    display: flex;
    flex-direction: row;
    background-color: var(--button-unactive);
    color: white;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 47px;
    align-items: center;
    margin: 0 1%;
}

.tab-btn.active {
    background-color: var(--button-active);
}

.tab-btn:hover:not(.active) {
    background-color: #148748;
}

.button-cont {
    display: flex;
    justify-content: flex-start;
}

.auto-fill {
    height: 65vh;

}